<!-- Navbar -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <!-- Toggle button -->
    <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-sm-0" href="/">
        <img
                src="https://cdn0.fahasa.com/media/quiz-game-T7/Avatar_IconApp_SN47_logoSN47_1.png"
                height="46"
                alt="Fahasa Logo"
                loading="lazy"
        />
      </a>



    </div>
    <!-- Collapsible wrapper -->

    <!-- Nav Icon -->
<!--    <div class="center_center mouse-hover top-notif ">-->
<!--      <a class="top-button-icon">-->
<!--        <div class="center_center" style="margin-bottom:3px;">-->
<!--          <div class="icon_nofi_gray"></div>-->
<!--        </div>-->
<!--        <div class="center_center">-->
<!--          <div class="top_menu_label">Thông Báo</div>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->

    <div class="center_center mouse-hover">
      <a class="top-button-icon" href="../cart-products">
        <div class="center_center" style="margin-bottom:3px;">
          <div class="icon_cart_gray"></div>
        </div>
        <div class="center_center">
          <div class="top_menu_label">Giỏ hàng</div>
        </div>
      </a>
    </div>

<!--    <div class="center_center mouse-hover top-account">-->
<!--      <a class="top-button-icon">-->
<!--        <div class="center_center" style="margin-bottom:3px;">-->
<!--          <div class="icon_account_gray"></div>-->
<!--        </div>-->
<!--        <div class="center_center">-->
<!--          <div class="top_menu_label">Tài khoản</div>-->
<!--        </div>-->
<!--      </a>-->
<!--    </div>-->


  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->